
body {
    background-color: #c7e4eb;
}

/*
    Home page 
*/
.container {
    text-align: center;

   
}

.container .homepage-logo a:hover {
    opacity: 0.7;
}

.navbar {
    padding: 10px;
    text-align: center;
    
}

.navbar a{
    overflow: hidden; 
    font-family: sans-serif;
    font-size: 30px;
    text-decoration: none;
    padding: 10px;
    color: #8C54A1;
    text-align: center;
    
}

.navbar a:hover {
     
    background-color: #9FA0CD;
    color: #c7e4eb;
    border-radius: 25px;
    padding: 10px;

}

.container .footer footer{
    height: 60px;
    width: 100%;
    background-color: #9472B2;
    padding-bottom: 10px;
    color: #c7e4eb;
    text-align: center;
    position: relative;  
    margin-top: 400px;
}

/* 
    My research page
*/



.container-r .personal-logo {
    text-align: center;
}

.container-r .research-tmp {
    margin: 10px;
    padding: 20px;
    width: auto;
    height: auto;  
}


.container-r .research-tmp img{  
    float: left;
    margin-right: 10px;
    width: 20%;
}
.container-r .research-tmp img:hover{  
    opacity: 0.7;
}

.container-r .research-tmp .text-style-r{  
    color: #8C54A1;
    text-decoration:none;
    margin-right: 10px;
}
.container-r .research-tmp .text-style-r a{   
    text-decoration:none;
}

.container-r .footer footer{
    height: 60px;
    width: 100%;
    background-color: #9472B2;
    padding-bottom: 10px;
    color: #c7e4eb;
    text-align: center;
    position: relative;
    
    
}

/* 
    About Me page
*/

.container-a .personal-logo {
    text-align:center;
    
}

.container-a .my-pic img{
    float: left;
    margin-left: 400px;  
    margin-right: 30px;
    width: 20%;
    border-radius: 10px;
}

.container-a .my-edu, .container-a .my-info {
    margin-left: 43%;
}
.container-a .my-edu .edu{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
}
.container-a .my-edu .edu th {
    background-color: #9A8AC0;
}
.container-a .my-edu .edu td, .container-a .my-edu .edu th {
    border: 1px solid #9472B2;;
    padding: 8px;
    text-align: center;
  }

  .container-a .footer{
    height: 60px;
    width: 100%;
    background-color: #9472B2;
    padding-bottom: 10px;
    color: #c7e4eb;
    text-align: center;
    position: relative;

}

.container-a .my-skills {
    margin-left: 43%;
}

 .container-a .my-skills img {
     height: 96px;
     padding: 10px;
 }

 .container-a .my-info .btn-group input {
    font-size: 18px;  
    padding: 10px 20px;
    border-radius: 10px;  
    background-color: #9A8AC0;
    
  }

  .container-a .my-info .btn-group input:hover {
    opacity: 0.7;
  }



/*
    CV page
*/

.container-cv .personal-logo {
    text-align:center;
}


.container-cv .footer{
    height: 60px;
    width: 100%;
    background-color: #9472B2;
    padding-bottom: 10px;
    color: #c7e4eb;
    text-align: center;
    position: relative;
}

.container-cv .cv-info{
    margin-left: 2.5%;
    
}

/*      Education       */

.container-cv .cv-info .edu{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
}
.container-cv .cv-info .edu th {
    background-color: #9A8AC0;
}
.container-cv .cv-info .edu td, .container-a .cv-info .edu th {
    border: 1px solid #9472B2;;
    padding: 8px;
    text-align: center;
  }

/*           Work Experience        */

  .container-cv .cv-info .work{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
}
.container-cv .cv-info .work th {
    background-color: #9A8AC0;
}

.container-cv .cv-info .work li {
    text-align: justify;
    padding: 2px;
}
.container-cv .cv-info .work td, .container-a .cv-info .work th {
    border: 1px solid #9472B2;;
    padding: 8px;
    text-align:center;
}

/*           Internships         */
.container-cv .cv-info .intern{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
}
.container-cv .cv-info .intern th {
    background-color: #9A8AC0;
}

.container-cv .cv-info .intern li {
    text-decoration: none;
    text-align: justify;
    padding: 2px;
}
.container-cv .cv-info .intern td, .container-a .cv-info .intern th {
    border: 1px solid #9472B2;;
    padding: 8px;
    text-align:center;
  }

  .container-cv .cv-info .intern a {
    text-decoration: none;
  }

  .container-cv .cv-info .btn-group input {
    font-size: 18px;  
    padding: 10px 20px;
    border-radius: 10%;  
    background-color: #9A8AC0;
    
  }

  .container-cv .cv-info .btn-group input:hover {
    opacity: 0.7;
  }


/*
        Contact Me
*/

.container-cm .personal-logo {
    text-align:center;
}


.container-cm .contact{
    font-size: large;
    margin-left: 43%;
    color: #8C54A1;
}

.container-cm .contact input, .container-cm .contact textarea{
    font-size: large;
    
}

.container-cm .contact h1{
    margin-left: 5%;
}





.container-cm .footer{
    height: 60px;
    width: 100%;
    background-color: #9472B2;
    padding-bottom: 10px;
    color: #c7e4eb;
    text-align: center;
}


 